{% load static %}

<header>
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <a href="{% url 'home page' %}">
                    <img width="30px" src="{% static 'images/book_icon.png' %}" alt="Book icon">
                </a>

                <a class="home" href="{% url 'home page' %}">
                    BookTrack
                </a>
            </div>

            <div class="nav-links">
                <ul class="nav-group">
                    <li class="nav-item">

{#                        <a href="{% url 'pet add' %}">#}
{#                            <i>Add Pet</i>#}
{#                        </a>#}
                    </li>
                    <li class="nav-item">

{#                        <a href="{% url 'photo add' %}">#}
{#                            <i>Add Photo</i>#}
{#                        </a>#}
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
{#                            href="{% url 'profile details' pk=request.user.pk %}"#}
                            <a>
                                <i>{{ request.user.username }}</i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout user' %}">
                                <i>Logout</i>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'login user' %}">
                                <i>Login</i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'register user' %}">
                                <i>Register</i>
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
</header>